.top{
    padding-top: 30px;
}
.trans{
    background-color: rgba(255,255,255,0.7);
}
.container-fluid{
    padding-bottom: 60px;
    border-radius: 5px;
}
.btn{
    border: none;
}
.fancy{
    background-color:white;

    color:black;
}
.pink{
    background-color: #D10066;
    color: white;
}
.pink:hover{
    background-color: #ff007b;
    color: white;
}
.orange{
    background-color: #FE5013;
    color: white;
}
.orange:hover{
    background-color: #fe6a34;
    color: white;
}
.yellow{
    background-color: #FFCC01;
}
.yellow:hover{
    background-color: #ffd633;
    color: white;
}
.blue{
    background-color: #0159BB;
}
.blue:hover{
    background-color: #016be4;
    color: white;
}
.green{
    background-color: #36c93d;
}
.green:hover{
    background-color: #2FC635;
    color: white;
}
.purple{
    background-color: #923387;
    color: white;
}
.purple:hover{
    background-color: #aa3c9d;
    color: white;
}
hr{
    border-color: white;

}
hr.dashed{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
hr.dashed:after{
    content: '';
    display: block;
    margin-top: 2px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

a{

    color:white;
}
.cart:hover{
    color: #2FC635;
}
a:visited{
    color: white;
}
i {
    width:100px;
    vertical-align:middle;
}
.badge{
    width: auto;
    height: auto;
    position:absolute;
    padding:5px;
}
tr>td{
    text-align: left;
}
.strong-black{
    color: black;
    font-weight: bold;
}

.modal-backdrop.in {
    filter: alpha(opacity=0);
    opacity: 0;
}
.small {
    font-size: x-small;
}